@use '../abstracts/' as *;

.btns{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $mb-s;

  @include breakpoint(medium){
    flex-direction: row;
    justify-content: center;
  }

  button{
    padding: rem(10) rem(50);
    border-radius: 25rem;
    box-shadow: 
      0px -2px 6px 1px rgba(0, 0, 0, 0.20) inset,
      -1px 7px 5px 2px rgba(0, 0, 0, 0.10);
    @include breakpoint(x-small){
      padding: rem(19) rem(80);
    }

    &:hover{
      cursor: pointer;
    }
  }

  &--cyan{
    background-color: $clr-cyan;
  }

  &--blue{
    background-color: $clr-light-blue;
  }
}