@use '../abstracts/' as *;

body{
  background-color: hsl(0, 0%, 100%);
  text-align: center;
}

.container{
  position: relative;
  width: 100%;
  max-width: rem(1400);
  padding-inline: rem(20);
  margin: 0 auto;

  @include breakpoint(medium){
    padding-inline: 0;
  }
}

// set a width when hit 700px breakpoint
.center{
  @include breakpoint(medium){
    width: rem(510);
    margin-inline: auto;
  }
}
