@use '../abstracts/' as *;

.header{
  padding-top: rem(121);
  margin-bottom: $mb-xl;

  &--bg{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background:linear-gradient(to bottom, rgba(250, 250, 250, 0.1), rgba(250, 250, 250, 0.1), rgb(250,250,250)),
      url('../../../images/bg-header-mobile.png') no-repeat top ;
    background-size: cover;
  }

  &__logo{
    margin-top: rem(120);
  }

  h1{
    padding-top: rem(125) + rem(70);
  }

}